.conteiner {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center
}

body {
    font-size: 300%;
}

button {
    margin-left: 60px;
    margin-right: 60px;
    width: 100px;
    height: 70px;
}
